body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

button {
    margin: 5px;
    width: 95vh;
    height: 5vh;
}

h3 {
    font-size: 48px;
}
