html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    text-align: center;
    margin: 5px; /* Adjust margin as needed */
}

h1{
    font-size: 3em;
}
