<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm Parameters</title>
    <link rel="stylesheet" href="../CSS/confirm.css" />
    <link rel="stylesheet" href="../CSS/global.css" />
  </head>
  <body>
    <div>
      <h1 id="modeTitle">Confirm Parameters</h1>
    </div>
    <div class="top-bar">
      <button id="back">Back</button>
      <button id="next">Next</button>
    </div>
    <div class="content">
      <div class="settingTitle">
        <h3>Mode</h3>
        <h3>Wash Time</h3>
        <h3>Temperature</h3>
        <h3>Dry Time</h3>
      </div>
      <div class="settings">
        <div class="value" id="mode-id">mode</div>
        <div class="value" id="washValue">wash</div>
        <div class="value" id="tempValue">temp</div>
        <div class="value" id="dryValue">dry</div>
      </div>
    </div>
    <div class="bottom-bar">
      <button id="cancel">Cancel</button>
    </div>

    <script src="../JS/confirm.js"></script>
  </body>
</html>
