<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wash Paused</title>
    <link rel="stylesheet" href="../CSS/pause.css">
    <link rel="stylesheet" href="../CSS/global.css">
</head>
<body>
    <div class="container">
        <h1 id="washTitle">WASH PAUSED</h1>
        <h3>Time Remaining</h3>
        <div id="timer"></div>
        <div class="buttons">
            <button id="cancelWash">Cancel Wash</button>
            <button id="continueWash">Continue Wash</button>
        </div>
    </div>

    <script src="../JS/pause.js"></script>
</body>
</html>
