<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saop Prompt</title>
    <link rel="stylesheet" href="../CSS/soap.css">
</head>
<body>
    <div class="top-bar">
        <button id="back">Back</button>
        <button id="next">Next</button>
    </div>
    <div class="content">
        <h3>Please Put Soap Inside The Container</h3>
    </div>
    <div class="bottom-bar">
        <button id="cancel">Cancel</button>
    </div>

    <script src="../JS/soap.js"></script>
</body>
</html>
