<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wash in Progress</title>
    <link rel="stylesheet" href="../CSS/wash.css" />
  </head>
  <body>
    <div class="container">
      <h1 id="washTitle">WASH IN PROGRESS...</h1>
      <h3>Time Remaining</h3>
      <div id="timer"></div>
      <div class="buttons">
        <button id="cancelWash">Cancel Wash</button>
        <button id="pauseWash">Pause Wash</button>
      </div>
    </div>

    <script src="../JS/wash.js"></script>
  </body>
</html>
